@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.log-container-right {
  background: linear-gradient(to right, #fad200, #f6921e);
  box-shadow: 10px 7px 46px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .log-container-right {
    background: linear-gradient(to right, #fad200, #f6921e);
    box-shadow: 10px 7px 46px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
  }
}
.log-container-left {
  background-color: #383a3f;
  box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .log-container-left {
    background-color: #383a3f;
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
  }
}
.widget {
  width: 33%;
}

.btn-pos {
  position: absolute;
  bottom: 12px;
  right: 10px;
  width: 80px;
  height: 80px;
}

.bg-home {
  background-color: #f6921e;
}

@media screen and (max-width: 768px) {
  .btn-pos {
    position: absolute;
    width: 90%;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.form-text {
  width: 80%;
}

.reservation-card {
  background-color: #383a3f;
  color: white;
}

.card_bg {
  background-color: #1f2023;
}

.shift-check {
  width: 20%;
}

.waitstaff-list {
  width: 80%;
}

.waitstaff-btn {
  width: 20%;
}

/* MOIDIFICHE GENERALI */
body {
  background-color: #1f2023;
}

.bgAll {
  background-color: #383a3f;
  color: white;
}

@font-face {
  font-family: "Maulbeere-font";
  src: url("../assets/fonts/romance fatal serif JC Fonts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maulbeere-font-two";
  src: url("../assets/fonts/Juergen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Maulbeere-font", sans-serif;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-family: "Maulbeere-font", sans-serif;
    font-size: 35px;
  }
}
.font {
  font-family: "Maulbeere-font", sans-serif;
}

.btn-primary {
  background-color: #f6921e;
  border-color: #f6921e;
}

.btn-primary:hover {
  background-color: #d87809;
  border-color: #d87809;
}

.btn-primary:focus {
  background-color: #f6921e;
  border-color: #f6921e;
}

.btn-primary:active {
  background-color: #f6921e !important;
  border-color: #f6921e !important;
}

.btn-secondary {
  background-color: #fad200;
  border-color: #fad200;
}

.btn-secondary:hover {
  background-color: #c7a700;
  border-color: #c7a700;
}

.btn-outline-primary {
  border-color: #f6921e;
  color: #f6921e;
}

.btn-primary-outline:hover {
  background-color: #d87809;
  border-color: #d87809;
}

.btn-primary-outline:focus {
  background-color: #f6921e;
  border-color: #f6921e;
}

.btn.active {
  background-color: #f6921e !important;
  border-color: #f6921e !important;
}

.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #f6921e !important;
  border-color: #f6921e !important;
}

.btn:hover {
  background-color: #f6921e !important;
  border-color: #f6921e !important;
}/*# sourceMappingURL=App.css.map */