@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "./partials/_loginpage";
@import "./partials/_homepage";
@import "./partials/profilepage";
@import "./partials/staffpage";
@import "./partials/shiftpage";
@import "./partials/waitstaffpage";
/* MOIDIFICHE GENERALI */

body {
  background-color: #1f2023;
}
.bgAll {
  background-color: #383a3f;
  color: white;
}

@font-face {
  font-family: "Maulbeere-font";
  src: url("../assets/fonts/romance\ fatal\ serif\ JC\ Fonts.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maulbeere-font-two";
  src: url("../assets/fonts/Juergen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Maulbeere-font", sans-serif;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-family: "Maulbeere-font", sans-serif;
    font-size: 35px;
  }
}

.font {
  font-family: "Maulbeere-font", sans-serif;
}

$primary: #f6921e;
$secondary: #fad200;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:hover {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
}
.btn-primary:focus {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
}
.btn-primary:active {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}
.btn-secondary:hover {
  background-color: darken($secondary, 10%);
  border-color: darken($secondary, 10%);
}

.btn-outline-primary {
  border-color: $primary;
  color: $primary;
}

.btn-primary-outline:hover {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
}
.btn-primary-outline:focus {
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
}
.btn.active {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}

.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}

.btn:hover {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}
