.react-calendar {
  width: 100%;
  max-width: 100%;
  background: #383a3f;
  border: 1px solid #a0a096;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 70px;
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
  .react-calendar__navigation {
    display: flex;
    height: 50px;
    margin-bottom: 1em;
    border-bottom: 1px solid white;
  }
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation__arrow {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-size: 0.85rem;
  }
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: lighten(#f6921e, 10%);
  border-radius: 8px;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 22px 9px;
  background: none;
  text-align: center;
  line-height: 22px;
  font: inherit;
  font-size: 1.2rem;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
    border-radius: 12px;
  }
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__navigation__label {
  pointer-events: none;
  color: white;
  font-size: 3rem;
  cursor: not-allowed;
}

.react-calendar__navigation__label::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .react-calendar__navigation__label {
    pointer-events: none;
    color: white;
    font-size: 2rem;
    cursor: not-allowed;
  }
}
.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: lighten(#f6921e, 10%);
}

.react-calendar__tile--now {
  background: transparent;
  border: 1px solid #fad200 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: transparent;
  border: 1px solid #fad200;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f6921e;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

// .react-calendar__navigation__label{

// }

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__days__day {
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #ae1a1a;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: gray;
}

// prova

.react-calendar__tile--partita {
  background-color: #a5c10b !important;
}
.partita {
  background-color: #a5c10b !important;
}
.react-calendar__tile--festa {
  background-color: #401654 !important;
}
.festa {
  background-color: #401654 !important;
}
.react-calendar__tile--musica {
  background-color: #e545a0 !important;
}
.musica {
  background-color: #e545a0 !important;
}
.react-calendar__tile--evento {
  background-color: #6ab4fe !important;
}
.evento {
  background-color: #6ab4fe !important;
}

.react-calendar__tile--multiple-events {
  background-color: #ff3333 !important;
}
.multiple-events {
  background-color: #ff3333 !important;
}

.react-calendar__tile--active {
  background: #f6921e !important;
  color: white;
}
